{% extends 'base.html'%}

{% block content %}

<!-- displaying  Username-->
  
  <div class="row p-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{user.username| capitalize}}</h2>
        </div>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            {% if user.bio %}
            <h5 class="card-title">{{user.bio}}</h5>
            {%else%}
            <p class="card-text">{{user.username| capitalize}} has no bio</p>
            {% endif %}
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}" class="btn btn-primary">Edit profile</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  <!--Display profile photo-->
  <div class="col-md-4 p-3 ">
    <div class="card align-items-center rounded border border-4 border border-warning">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail rounded-circle border border-success " style="width: 15rem;">

    {%else%}
    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">

    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card p-2">

        {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
        <div class="row">
            <div class="col-md-12">
      <input type="file"  name="photo" class="form-control" required>
    </div>
    <div class="col-md-12">
      <input type="submit" class="btn btn-dark btn-lg btn-sm" value="Update Picture">
    </div>
    </div>
    </form>
    
      {% endif %}
    </div>
    </div>
    </div>  
  </div>
  </div>
{% endblock %}