{%extends 'base.html'%}


{%block title%}

{%endblock%}

{%block body%}
<div class="d-flex justify-content-center">
    
    <h1>CHANGE MENTALITY</h1>

</div>
<div class="row row-cols-1 row-cols-md-3 g-4 p-3">
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1589149098258-3e9102cd63d3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Martin Fowler</h5>
          <p class="card-text">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” </p>

          <button class="btn btn-info ">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1598153346810-860daa814c4b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGFycnklMjBwb3R0ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Harry Porter</h5>
          <p class="card-text">"You must be a bludger because you knock me out."</p>
          <button class="btn btn-info ">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1634309490604-1270c0d486e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNxdWlkJTIwZ2FtZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sam Jokes</h5>
          <p class="card-text">My father liked to say, “I’m bald because a good man always comes out on top.” Dad loved to make.</p>
          <button class="btn btn-info ">READ MORE</button>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8am9iJTIwaW50ZXJ2aWV3fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Will Smith</h5>
          <p class="card-text">"Santa and his wife wanted to spilt up, but there aren’t any divorce lawyers in the North Pole." </p>
          <button class="btn btn-info ">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1509463536615-1ca163bcfb3f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2plY3RzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="Karuna Eberl">Alphonce Odhis</h5>
            <p class="card-text">"Accountants never sleep." </p>
            <button class="btn btn-info ">READ MORE</button>
          </div>
        </div>
        
     </div> 
     <div class="col">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1511690743698-d9d85f2fbf38?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHN3YWhpbGklMjAlMjBmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="Bobby Flay">
            <h5 class="card-title">Boby Flay</h5>
            <p class="card-text">"We eat to servive bt not to servive to eat." </p>
            
            <button class="btn btn-info ">READ MORE</button>
          </div>
        </div>
      </div>
  </div>  
</div>
{%endblock%}