{% extends 'base.html'%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="starter-template">
        <h1>Welcome to the Pithches site</h1>
        <p class="lead">To view pitches Login to your account<br> If you have no account you can sign up to create an account</p>
      </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title"> Dr. Seuss</h5>
            <p class="card-text">
                “You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose. You're on your own. And you know what you know. And YOU are the one who'll decide where to go...”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
  
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://mdbootstrap.com/img/new/slides/028.jpg');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">William W. Purkey</h5>
            <p class="card-text">
                “You've gotta dance like there's nobody watching,
                Love like you'll never be hurt,
                Sing like there's nobody listening,
                And live like it's heaven on earth.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
            
          </div>
        </div>
        <!-- Card -->
      </div>
  
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">Martin Luther King </h5>
            <p class="card-text">
                “Darkness cannot drive out darkness: only light can do that. Hate cannot drive out hate: only love can do that.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">Marilyn Monroe</h5>
            <p class="card-text">
                “Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">Albert Einstein</h5>
            <p class="card-text">
                “There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">Neil Gaiman, Coraline</h5>
            <p class="card-text">
                “Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/3064079/pexels-photo-3064079.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">Bill Keane</h5>
            <p class="card-text">
                “Yesterday is history, tomorrow is a mystery, today is a gift of God, which is why we call it the present.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/3293148/pexels-photo-3293148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">Elie Wiesel</h5>
            <p class="card-text">
                “The opposite of love is not hate, it's indifference. The opposite of art is not ugliness, it's indifference. The opposite of faith is not heresy, it's indifference. And the opposite of life is not death, it's indifference.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 p-2">
        <!-- Card -->
        <div
             class="bg-image card shadow-1-strong"
             style="
                    background-image: url('https://images.pexels.com/photos/8479967/pexels-photo-8479967.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                    "
             >
          <div class="card-body text-white">
            <h5 class="card-title">J.K. Rowling</h5>
            <p class="card-text">
                “To the well-organized mind, death is but the next great adventure.”
            </p>
            <a href="{{url_for('auth.login')}}" class="btn btn-outline-light">Readmore</a>
            <i class="bi bi-hand-thumbs-up-fill"></i>
            <i class="bi bi-hand-thumbs-down-fill"></i>
          </div>
        </div>
        <!-- Card -->
      </div>
      
    </div>
  </div>
  <footer class="bg-success text-white text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://devkm-portfolio.netlify.app/">Dev Kim</a>
    </div>
    <!-- Copyright -->
  </footer>
{% endblock%}